.DisplaySongContainer {
  display: flex;
  background-color: #083355;
  color: white;
  padding-left: 10px;
  align-items: flex-start;
  line-height: 0px;
}

.addToPlaylistBtn {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background-color: #083355;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  width: 20px;
  margin: auto;
  margin-right: 0.5px;
  float: left;
  font-size: large;
  font-weight: bolder;
}

.addToPlaylistBtn:hover {
  transform: translateY(-10px);
  box-shadow: 0 50px 50px rgba(130, 13, 13, 0.2);
  color: white;
}

.addToPlaylistBtn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
